body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
    
}

.caja{
    
   
    border: 1px solid #fff;
    background: #fff;

    
    padding: 25px;
}
.caja p{
    text-align: justify;

}
.caja h1{
    color: violet;
}
.cabecera{
    background: rgb(76, 76, 238);
    padding: 20px;
    color: #fff;
    text-align: left;
}
.footer{
    background: rgb(76, 76, 238);
    padding: 15px;
    color: white;
}